footer {
    padding:100px 0 80px;
    .inner {
        position:relative;
        width:1180px;margin:0 auto;
        overflow:hidden;
        padding:70px 50px 60px;
        .footer_cont {
            position:relative;
            display:flex;
            justify-content:space-between;
            align-items: flex-start;
        }
        .area_footer {
            display:flex;
            flex-direction: column;
            .footer_logo{
                display:block;
                overflow:hidden;
                font-size:30px;
                font-weight:600;
                color:#101010;
            }
            &:nth-of-type(2) {
                padding:7px 0 0 80px;
            }
            .link_copyright {
                position:absolute;left:0;bottom:0;
                padding-left:65px;
                .thumb_logo {
                    position:absolute;left:0;top:0;
                    overflow:hidden;
                    width:50px;height:50px;
                    border-radius:50%;
                    img {
                        width:100%;height:100%;
                        object-fit:cover;
                    }
                }
                .txt {
                    font-weight:500;
                    font-size:16px;line-height:24px;color:#000
                }
            }
            .footer_gnb {
                column-count:2;
                column-gap:100px;
                margin-left:-18px;
                li {
                    margin-bottom:20px;
                    a {
                        display:block;padding-left:18px;
                        font-weight:500;
                        color:#101010;
                        background:url(../../../public/img/ico_star.svg);background-repeat:no-repeat;background-position:6px 50%;background-size:0;
                        transition-duration: .1s;
                        &:hover,&.active {
                            background-position: 0 50%;
                            background-size: 12px;
                        }
                    }
                }
            }
            .area_link {
                padding-top:20px;
                .footer_link {
                    display:block;
                    margin-top:15px;
                    color:rgba(16,16,16,.8);
                    text-decoration:underline;
                }
                
            }
            .tit_footer_sns {
                display:block;
                font-size:22px;
            }
            .list_sns {
                display:flex;
                justify-content:space-between;
                
                margin-top:20px;
                li {
                    width:38px;height:38px;
                    margin-right:16px;
                    a {
                        display:block;width:100%;height:100%;border:1px solid rgba(16,16,16,.2);
                        img {
                            width:100%;height:100%;object-fit:cover;
                            filter: invert(80%);
                        }
                    }
                }
            }
            .area_stroe {
                position:absolute;left:auto;bottom:0;
                strong {
                    display:block;
                    font-size:14px;
                    line-height:18px;
                }
                a {
                    font-size:14px;
                    line-height:18px;
                    color:#101010;
                }
            }
        }
        .lines_center {
            position:absolute;
            left:27%;
            top:0;
            right:auto;
            bottom:auto;
            width:40px;
            height:40px;
            background-image:url(../../../public/img/ico_star.svg);
            background-position:50% 50%;
            background-size:contain;
            background-repeat:no-repeat;
            .line_center {
                position:absolute;
                right:20px;
                bottom:20px;
                width:1px;
                height:1px;
                background-color:#101010;
                &.line1 {
                    width:339px;
                }
                &.line2 {
                    left:20px;
                    right:auto;
                    width:841px;
                }
                &.line3 {
                    left:20px;
                    top:20px;
                    right:auto;
                    bottom:auto;
                    height:350px;
                }
            }
            
        }
        .line_etc {
            position:absolute;
            left:0;
            top:auto;
            right:auto;
            bottom:0;
            width:1px;
            height:1px;
            padding:0;
            background-color:#101010;
            &.line1 {
                top:20px;
                height:100%;
            }
            &.line2 {
                top:auto;
                bottom:0;
                width:100%;
            }
            &.line3 {
                left:auto;
                top:20px;
                right:0;
                bottom:0;
                height:100%;
            }
        }
        
    }
}