header {
    width:100%;
    position:absolute;left:0;top:0;z-index:2;
    font-family:$fontQ;
    .inner {
        position:relative;width:1180px;margin:0 auto;padding:32px 0 50px;
        &::after {
            content:"";display:block;clear:both;
        }
        h1 {
            float:left;width:90px;height:90px;
            a {
                display:block;width:100%;height:100%;
                img {
                    width:100%;height:100%;border-radius:50%;object-fit:cover;
                }
            }
        }
        #gnb {
            float:left;padding-left:72px;column-count:2;column-gap:60px;
            li {
                a {
                    display:block;padding-left:18px;margin-bottom:12px;
                    font-weight:500;font-size:16px;line-height:22px;color:#101010;
                    background:url(../../../public/img/ico_star.svg);background-repeat:no-repeat;background-position:6px 50%;background-size:0;
                    transition-duration: .1s;
                    &:hover,&.active {
                        background-position: 0 50%;
                        background-size: 12px;
                    }
                }
            }
        }
        .until {
            float:right;column-count:2;column-gap:60px;
            a {
                display:block;padding-left:18px;font-weight:500;font-size:16px;line-height:22px;color:#101010;
                background:url(../../../public/img/ico_star.svg);background-repeat:no-repeat;background-position:6px 50%;background-size:0;
                transition-duration: .1s;
                &:hover,&.active {
                    background-position: 0 50%;
                    background-size: 12px;
                }
                &.connect {
                    font-weight:700;line-height:18px;background:none;
                    &:hover,&.active {
                        color:orange
                    }
                }
            }
        }
        .lines {
            position:absolute;
            top:auto;
            bottom:0;
            right:250px;
            display: flex;
            width:40px;
            height:40px;
            background-image:url(../../../public/img/ico_star.svg);
            background-position:50% 50%;
            background-size:contain;
            background-repeat:no-repeat;
            .lines_line {
                position: absolute;
                right:20px;
                bottom:20px;
                width:1px;
                height:1px;
                background-color:#101010;
                &.line1 {
                    height: 160px;
                }
                &.line2 {
                    width:910px;
                }
                &.line3 {
                    left:20px;
                    right:auto;
                    width:270px;
                }
            }
        }
    }
    
}