header {
    width:100%;
    position:absolute;left:0;top:0;min-width:375px;z-index:2;
    font-family:$fontQ;
    .inner {
        position:relative;width:1180px;margin:0 auto;padding:32px 0 50px;overflow:hidden;
        &::after {
            content:"";display:block;clear:both;
        }
        h1 {
            float:left;
            a {
                display:block;width:100%;height:100%;
                font-size:29px;
                font-family:$fontM;
                color:#000;
            }
        }
        #gnb {
            float:left;padding-left:60px;column-count:2;column-gap:60px;
            li {
                a {
                    display:block;padding-left:18px;margin-bottom:12px;
                    font-weight:500;font-size:16px;line-height:22px;color:#101010;
                    background:url(../../../public/img/ico_star.svg);background-repeat:no-repeat;background-position:6px 50%;background-size:0;
                    transition-duration: .1s;
                    &:hover,&.active {
                        background-position: 0 50%;
                        background-size: 12px;
                    }
                }
            }
        }
        .until {
            float:right;column-count:2;column-gap:60px;
            a {
                display:block;padding-left:18px;font-weight:500;font-size:16px;line-height:22px;color:#101010;
                background:url(../../../public/img/ico_star.svg);background-repeat:no-repeat;background-position:6px 50%;background-size:0;
                transition-duration: .1s;
                &:hover,&.active {
                    background-position: 0 50%;
                    background-size: 12px;
                }
                &.connect {
                    font-weight:700;line-height:18px;background:none;
                    &:hover,&.active {
                        color:orange
                    }
                }
            }
        }
        .lines {
            position:absolute;
            top:auto;
            bottom:0;
            right:250px;
            display: flex;
            width:40px;
            height:40px;
            background-image:url(../../../public/img/ico_star.svg);
            background-position:50% 50%;
            background-size:contain;
            background-repeat:no-repeat;
            .lines_line {
                position: absolute;
                right:20px;
                bottom:20px;
                width:1px;
                height:1px;
                background-color:#101010;
                &.line1 {
                    height: 160px;
                }
                &.line2 {
                    width:1140px;
                }
                &.line3 {
                    left:20px;
                    right:auto;
                    width:270px;
                }
            }
        }
        .fa-bars {
            display:none;
        }
    }    
}


@media screen and (max-width:$tablet) {
    header {
        .inner {
            width:100%;
            overflow:hidden;
            h1 {
                margin-left:25px;
            }
            #gnb {
                display:none;
            }
            .until {
                display:none;
            } 
            .fa-bars {
                display:block;
                font-size:30px;
                position:absolute;
                right:25px;
                top:35px;
                cursor: pointer;
            }
            .lines {
                right:70px;
            }
        }
    }
}


@media screen and (max-width:$mobile) {
    header {
        .inner {
            .lines {
                transform:scale(.7);
            }
        }
    }
}