#mobileMenu {
    width:100%;height:100%;
    position:fixed;top:0;left:0;
    border-right:1px solid #000;
    background:#f3e9e4;
    padding:30px 25px;
    z-index:15;
    transition: .2s;

    h1 {
        width:100%;
        margin-bottom:30px;
        margin-top:2px;
        font-size:29px;
        a {
            font-family:$fontM;
            color:#000;
        }
       
    }
    ul li a {
        display:block;padding:20px 15px;
        font-weight:500;
        font-size:16px;color:$txtColor;
        background: url(../../../public/img/ico_star.svg);
        background-repeat: no-repeat;
        background-position:6px 50%;
        background-size: 0;
        transition-duration: 0.1s;
        &.active {
            background-position: 0 50%;
            background-size:12px;
        }
    }
    .fa-xmark {
        position:fixed;
        right:26px;
        top:32px;
        font-size:36px;
        cursor:pointer;
    }
}