* {margin:0;padding:0;box-sizing:border-box;}
ul,ol,li {list-style:none;}
a {text-decoration:none;}
body {
    background-image:radial-gradient(circle farthest-corner at 0 65%,#cdc4cd,#faf5f0),radial-gradient(circle farthest-corner at 0 55%,#cdc4cd,#faf5f0);font-family:$fontQ;color:$txtColor;
    min-width:375px;
}
table,th,td {
    border-collapse:collapse;
}
fieldset {
    border:none;
}
.hidden {
    position:absolute;
    top:-100000px;
    opacity:0;
}
input::placeholder,
textarea::placeholder{
    font-size:16px;
    line-height:20px;
    font-family:$fontQ;
}
button {
    cursor:pointer;
}

.btn {
    display:block;
    min-width:120px;
    padding:0 15px;
    margin-right:16px;
    height:33px;
    font-weight:500;
    font-family:$fontQ;
    font-size:16px;
    line-height:33px;
    border:1px solid #000;
    border-radius:15px;
    color:$txtColor;
    text-align:center;
    transition:.5s;
    background:transparent;
   
    .txt {
        padding-left:16px;
        background-image: url(../../../public/img/ico_star.svg);
        background-repeat: no-repeat;
        background-position:0 49%;
        background-size:12px;
    }
    
    &:hover, &.on {
        background:#000;
        color:#e1d4d5;
        .txt {
            background-image: url(../../../public/img/ico_star_white.svg);
        }
    }
}