.scroll_navi {
    position:fixed;top:50%;
    transform:translateY(-50%);
    right:50px;
    z-index:1;

    li {
        width:10px;height:10px;
        border:1px solid #101010;
        border-radius:10px;
        background:#fff;
        margin:15px 0;cursor:pointer;
        transition:.5s;
        &.on {
            height:50px;background:#111;
            border:#fff; 
        }
    }
}

@media screen and (max-width:$tablet) {
    .scroll_navi {
        right:30px;
    }
}

@media screen and (max-width:$mobile) {
    .scroll_navi {
        right:20px;
    }
}