#story {
    opacity:0;
    position:relative;width:1180px;margin:0 auto;
    z-index:1;
    min-height:856px;

    .scroll_txt {
        font-size:400px;
        color:#999;
        opacity:.1;
        position:absolute;
        top:-40px;
        left:100px;
        text-shadow:5px 5px 5px rgba(0,0,0,.5);
    }

    .lines {
        position:absolute;
        left:320px;top:0;
        width:40px;height:40px;
        background:url(../../../public/img/ico_star.svg) no-repeat 50% 50%;background-size:contain;
        .lines_line {
            position:absolute;
            right:20px;
            bottom:20px;
            width:1px;
            height:1px;
            background-color:#101010;
            &.line1 {
                width:340px;
            }
            &.line2 {
                left:20px;
                right:auto;
                width:840px;
            }
        }
    }

    .line3 {
        width: 100%;
        height: 1px;
        padding: 0;
        background-color: #101010;
    }


    .tit {
        display:block;
        font-weight:700;
        font-size:120px;line-height:1;
        letter-spacing:-2px;
        text-align:right;
        padding:70px 5px 40px 0;
    }

    
    .info_story {
        display:flex;
        padding:80px 0 40px;
        align-items:center;
        .community {
            position:relative;
            width:1200px;
            article {
                padding:20px;
                transform:translateX(-100px) rotateY(180deg);
                transition:.5s;
            
                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {transition-delay:.1s * $i;}
                }
                strong {
                    display:block;
                    font-size:20px;
                    line-height:24px;
                    font-family:$fontM;
                    margin-bottom:15px;
                }
                p {
                    font-size:16px;
                    line-height:24px;
                    font-family:$fontQ;
                }
            }        
        }
    
        .pics {
            width:100%;
            .list_pics {
                width:100%;
                display:flex;
                align-content:center;
                flex-wrap: wrap;
                gap:20px;
                justify-content:center;
                li {
                    position:relative;
                    box-shadow:5px 10px 10px rgba(205, 196, 205);
                    overflow:hidden;
                    cursor: pointer;
                    transition:.3s;
                    transform:translateX(-100px) rotateY(180deg);
                    transition:.5s;
                    img {
                        width:100%;height:100%;object-fit:cover;
                    }                   
                    svg {
                        position:absolute;
                        right:8px;
                        bottom:8px;
                        color:#fefefe;
                        font-size:15px;
                    }
                }
            }
        }

    }

    &.on {
        opacity:1;
        .lines {
            animation-name:lines;
            animation-duration:1s;
        }
        .line3 {
            animation-name:line3;
            animation-duration:1s;
        }
        .tit {
            animation-name:tit;
            animation-duration:1s;
        }
        .community {
            article, .list_pics li {
                transform:translateX(0) rotateY(0);
            }
        }
        .info_story {
            .pics {
                .list_pics {
                    li {
                        transform:translateX(0) rotateY(0);
                        &:hover {
                            transform: translateY(-20px);
                        }
                    }
                }      
                
            }
        }     
    }
}

@keyframes lines {
    0% {
      transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}

@keyframes line3 {
    0% {
      transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}

@keyframes tit {
    0% {
        opacity:0;
        transform:translateX(100px);
    }
    100% {
        opacity:1;
        transform:translateX(0);
    }
}


@media screen and (max-width:$tablet) {
    #story {
        width:100%;
        min-height:auto;
        overflow:hidden;
        .scroll_txt {
            font-size:300px;
            top:-25px;
        }
        .tit {
            font-size:80px;
            padding:70px 40px 40px 0;
        }
        .info_story {
            display:block;
            padding:0 25px 40px;
            .community {
                padding-top:60px;
                width:100%;
                article {
                    padding:15px 0;
                }
            }
        }
        .line3 {
            display:none;
        }
    }
    
}

@media screen and (max-width:$mobile) {
    #story {
        .tit {
            font-size:50px;
            padding:70px 40px 90px 0;
        }
        .scroll_txt {
            font-size:240px;
            top:-25px;
        }
        .lines {
            .lines_line {
                &.line1 {
                    width:500px;
                }
            }
            
        }
        .info_story {
            .pics {
                .list_pics {
                    margin-top:-50px;
                    li {
                        width:40%;
                        &:nth-of-type(2n) {
                            display:none;
                        }
                    }
                }
            }
        }
        .lines {
            transform:scale(.7);
        }

    }
    
}