#type {
    opacity:0;
    position:relative;
    width:1180px;margin:0 auto;
    padding:64px 0;
    min-height:856px;
    height:95vh;
    .wrap_box {
        position:relative;
        height:650px;
        .box_big {
            position:absolute;
            display:none;
            width:100%;
            height:100%;
            .thumb_big {
                overflow: hidden;
                width:100%;height:100%;
                .thumb {
                    width:100%;height:100%;
                    img {
                        width:100%;height:100%;object-fit:cover;
                    }
                }
                
            }
            .box_smail {
                position:absolute;
                right:70px;bottom:-60px;
                width:334px;height:476px;
                padding:40px 38px;
                border:1px solid #000;
                background:#f3e9e4;
                .thumb_small {
                    position:relative;
                    width:256px;height:164px;
                    overflow:hidden;
                    img {
                        position:absolute;left:0;bottom:-30px;
                        width:100%;height:auto;object-fit:cover;
                    }
                }
                .tit {
                    display:block;
                    margin-top:40px;
                    font-size:22px;line-height:24px;
                    text-transform:uppercase;
                }
                .desc {
                    margin-top:16px;
                    font-family:$fontQ;
                    font-size:16px;
                    line-height:24px;
                    color:$txtColor2;
                }
            }
            &.on{
                display:block;
            }
        }
    
    }
    
    .paging {
        display:flex;
        margin-top:27px;
    }

    &.on{
        opacity:1;
        .thumb_big {
            transition:.2s;
            animation-name:thumb_big;
            animation-duration:.8s;
        }
        .box_smail {
            animation-name:box_smail;
            animation-duration:1s;
        }
        .paging {
            animation-name:paging;
            animation-duration:1.5s;
        }
    }
}

@keyframes thumb_big {
    0% {
      height:0;
    }
    100% {
        height:100%;
    }
}

@keyframes box_smail {
    0% {
        opacity:0;
        margin-bottom:-50px;
    }
    100% {
        opacity:1;
        tmargin-bottom:0;
    }
}

@keyframes paging {
    0% {
        opacity:0;
        transform:translateX(-200px);
    }
    100% {
        opacity:1;
        transform:translateY(0);
    }
}



@media screen and (max-width:$tablet) {
    #type {
        width:100%;
        height:auto;
        min-height:auto;
        padding:44px 0 84px;
        .wrap_box {
            height:500px;
            .box_big {
                .box_smail {
                    bottom:0;
                    width:270px;
                    height:428px;
                    padding:24px;
                    .thumb_small {
                        width:220px;
                        height:164px;
                    }
                    .tit {
                        margin-top:30px;
                    }
                }
            }
            
        }
        .paging {
            padding:0 20px;
        }

    }
}


@media screen and (max-width:$mobile) {
    #type {
        .wrap_box {
            .box_big {
                .box_smail {
                    right:auto;
                    left:50%;
                    transform:translate(-50%, 0);
                }
            } 
        }
        .paging {
            justify-content:center;
            flex-wrap:wrap;
            .btn {
                width:40%;
                min-width:auto;
                margin:10px 10px 0;
            }
        }
    }
}

