#visual {
    position:relative;width:1180px;margin:0 auto;
    z-index:1;
    overflow:hidden;
    min-height:856px;
    height:95vh;
    padding:152px 0 0;
    .inner {
        position:relative;
        height:100%;
        padding:140px 0 120px;
        overflow:hidden;
        .tit {
            position:relative;
            z-index:1;
            margin:0 0 56px 76px;
            font-weight:300;
            font-size:81px;line-height:1;
            letter-spacing:-2px;
            .txt1 {
                display:inline-block;
                animation-name: txt;
                animation-duration:1.5s;
            }
            .txt2{
                display:block;
                position:relative;
                left:132px;
                font-weight:700;
                text-transform: uppercase;
                animation-name: txtBold;
                animation-duration:1.5s;;
            }
            .txt3{
                display:block;
                text-transform: uppercase;
                animation-name: txt;
                animation-duration:1.5s;
            }
            .txt4{
                display:block;
                position:relative;
                left:300px;
                font-weight:600;
                animation-name: txtBold;
                animation-duration:1.5s;
                &::before {
                    content:"";
                    display:inline-block;
                    width:62px;height:62px;margin:10px 16px 0 0;
                    vertical-align:top;
                    background:url(../../../public/img/ico_copyright.svg) no-repeat 50% 50%;
                    background-size:contain;
                }
            }
        }
        .left {
            position:absolute;
            right:76px;
            top:50%;
            width:100%;
            height:100%;
            max-width: 296px;
            max-height: 632px;
            background:url(../../../public/img/img14.png) no-repeat 50% 0;background-size:cover;
            transform:translate(0, -50%);
            animation-name: left;
            animation-duration:1.5s;
            .ico {
                position:absolute;top:145px;right:-40px;
                width:80px;height:80px;
                background:url(../../../public/img/ico_star.svg) no-repeat 0 0;background-size:100% auto;
            }
        }
        .right {
            position:absolute;
            right:415px;
            top:50%;
            width:100%;
            height:100%;
            max-width:112px;
            max-height:520px;
            background:url(../../../public/img/img15.png) no-repeat 35% 0;background-size:cover;
            transform:translate(0, -50%);
            animation-name:right;
            animation-duration:1.5s;
        }
        .area_lecture {
            display:flex;
            align-items:center;
            position:absolute;left:76px;bottom:4%;
            .lecture_img {
                position:relative;
                z-index:5;
                width:96px;
                height:104px;
                background:#000;
                animation-name:lecture_img;
                animation-duration:1.5s;
                &::before {
                    content:"";
                    position:absolute;left:0;top:0;
                    width:100%;height:100%;
                    background:url(../../../public/img/lecture_triangle.svg) no-repeat 0 0;background-size:100% auto;
                }
                &::after {
                    content:"";
                    position:absolute;left:0;top:0;
                    width:100%;height:100%;
                    background:url(../../../public/img/lecture_numbs.svg) no-repeat 0 0;background-size:100% auto;
                }

            }
            .lecture_txt {
                padding-left:40px;
                animation-name:lecture_txt;
                animation-duration:1s;
                .tit_lecture {
                    display:block;margin-bottom:16px;color:$txtColor2;
                }
                .txt_lecture{
                    display:block;font-weight:600;font-size:22px;
                }
            }
        }
    }
 
    @keyframes txt {
        0% {
          opacity:0;
          transform:translateX(100px);
        }
        100% {
            opacity:1;
            transform:translateX(0);
        }
    }


    @keyframes txtBold {
        0% {
          opacity:0;
          transform:translateX(-100px);
        }
        100% {
            opacity:1;
            transform:translateX(0);
        }
    }

    @keyframes left {
        0% {
          transform:translateY(-1000px);
        }
        100% {
            transform:translate(0, -50%);
        }
    }

    @keyframes right {
        0% {
          transform:translateY(1000px);
        }
        100% {
            transform:translate(0, -50%);
        }
    }

    @keyframes lecture_img {
        0% {
            opacity:0;
            transform:translateX(-50px);
        }
        100% {
            opacity:1;
            transform:translateY(0);
        }
    }
    @keyframes lecture_txt {
        0% {
            opacity:0;
            transform:translateX(-100px);
        }
        100% {
            opacity:1;
            transform:translateY(0);
        }
    }
    
}

@media screen and (max-width:$tablet) {
    #visual {
        width:100%;
        padding:97px 25px 0;
        .inner {
            .tit {
                margin:0 0 56px 0;
                transform:scale(.8);
                transform-origin:left top;
            }
            .left {
                right:2%;
                max-width:200px;
            }
            .right {
                right:265px;
            }
            .area_lecture {
                transform:scale(.9);
                transform-origin:left top;
                left:0;bottom:22%;
            }
        }
    }
}

@media screen and (max-width:850px) {
    #visual {
        .inner {
            padding:53px 0;
            .tit {
                transform:scale(.7);
                transform-origin:left top;
            }
            .left{
                top:55%;
                max-width:170px;
                max-height:470px;
            }
            .right {
                top:55%;
                right:220px;
                max-width:80px;
                max-height:420px;
            }
            .area_lecture {
                left:0;bottom:10%;
            }            
        }
    }
}

@media screen and (max-width:676px) {
    #visual {
        .inner {
            .tit {
                transform:scale(.5);
            }
            .area_lecture {
                transform:scale(.7);
                transform-origin:left top;
                left:0;bottom:0;
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    #visual {
        .inner {
            .tit {
                transform:scale(.4);
                .txt4 {
                    left:0;
                }
            }
            .left {
                .ico {
                    transform:scale(0.7);
                }
            }
        }
    }
}