#visual {
    position:relative;width:1180px;margin:0 auto;
    z-index:1;
    overflow:hidden;
    height:100vh;
    padding:172px 0 0;
    .inner {
        position:relative;
        height:100%;
        padding:120px 0;
        .tit {
            display:block;
            position:relative;
            z-index:1;
            margin:0 0 56px 76px;
            font-weight:300;
            font-size:81px;line-height:1;
            letter-spacing:-2px;
            .txt1 {
                display:inline-block;
            }
            .txt2{
                display:block;
                position:relative;
                left:132px;
                font-weight:700;
                text-transform: uppercase;
            }
            .txt3{
                display:block;
                text-transform: uppercase;
            }
            .txt4{
                display:block;
                position:relative;
                left:300px;
                font-weight:600;
                &::before {
                    content:"";
                    display:inline-block;
                    width:62px;height:62px;margin:10px 16px 0 0;
                    vertical-align:top;
                    background:url(../../../public/img/ico_copyright.svg) no-repeat 50% 50%;
                    background-size:contain;
                }
            }
        }
        .left {
            position:absolute;
            right:76px;
            top:50%;
            width:100%;
            height:100%;
            max-width: 296px;
            max-height: 632px;
            background:url(../../../public/img/img14.png) no-repeat 50% 0;background-size:cover;
            transform:translate(0, -50%);
            .ico {
                position:absolute;top:145px;right:-40px;
                width:80px;height:80px;
                background:url(../../../public/img/ico_star.svg) no-repeat 0 0;background-size:100% auto;
            }
        }
        .right {
            position:absolute;
            right:415px;
            top:50%;
            width:100%;
            height:100%;
            max-width:112px;
            max-height:520px;
            background:url(../../../public/img/img15.png) no-repeat 35% 0;background-size:cover;
            transform:translate(0, -50%);
        }
        .area_lecture {
            display:flex;
            align-items:center;
            position:absolute;left:76px;bottom:100px;
            .lecture_img {
                position:relative;
                width:96px;
                height:104px;
                background:#000;
                &::before {
                    content:"";
                    position:absolute;left:0;top:0;
                    width:100%;height:100%;
                    background:url(../../../public/img/lecture_triangle.svg) no-repeat 0 0;background-size:100% auto;
                }
                &::after {
                    content:"";
                    position:absolute;left:0;top:0;
                    width:100%;height:100%;
                    background:url(../../../public/img/lecture_numbs.svg) no-repeat 0 0;background-size:100% auto;
                }

            }
            .lecture_txt {
                padding-left:40px;
                .tit_lecture {
                    display:block;margin-bottom:16px;color:$txtColor2;
                }
                .txt_lecture{
                    display:block;font-weight:600;font-size:22px;
                }
            }
        }
    }
    
}