.Community {
    > .inner {
        .inputBox {
            
            width:50%;
            strong {
                display:block;font-size:30px;line-height:25px;
            }
            input[type='text'] {
                width:100%;padding:15px;height:50px;border:0;border-bottom:1px solid #000;background:transparent;margin:10px 0 50px 0;
                font-size:16px;
                font-family:$fontQ;
                line-height:24px;
            }
            textarea {
                margin-top:20px;width:100%;padding:15px;background:#f3e9e4;border:1px solid #000;margin-bottom:20px;
                height:180px;resize:none;
                font-size:16px;
                font-family:$fontQ;
                line-height:24px;
            }
            .btnSet {
                display:flex;
                .btn {
                    background:#000;
                    color:#e1d4d5;
                    .txt {
                        background-image: url(../../../public/img/ico_star_white.svg);
                    }
                }

            }
        }
        .showBox {
            width:100%;margin-top:120px;
            article {
                position:relative;
                padding:40px 40px 40px 150px;
                border-top:1px solid #000;
                transition:.3s;
                em {
                    position:absolute;
                    left:20px;top:30px;
                    font-size:50px;font-family:$fontM;
                }
                .txt {
                    strong {
                        display:block;
                        font-weight:500;
                        font-family:$fontM;
                        font-size:28px;line-height:40px;
                    }
                    p {
                        margin-top:15px;
                        font-size:16px;
                        line-height:24px;
                    }
                }

                .editTxt {
                    input[type='text'],
                    textarea {
                        width:100%;padding:8px 10px;
                        border:1px solid #000;
                        margin-bottom:20px;
                        background:#f3e9e4;
                        resize:none;
                        font-size:16px;
                        font-family:$fontQ;
                        line-height:24px;
                    }
                }

                .btnSet {
                    display:flex;
                    justify-content:end;
                    margin-top:20px;
                    align-items:center;
                    .btn {
                        min-width:auto;
                    }
                }
                &:hover {
                    background:#f3e9e4;
                }
                &::before {
                    content:"";
                    position:absolute;
                    left:100px;
                    top:-20px;
                    width: 40px;
                    height: 40px;
                    background-image: url(../../../public/img/ico_star.svg);
                    background-position: 50% 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .Community {
        > .inner {
            .inputBox {
                input[type='text'],
                textarea {
                    width:100%;
                }
                .btnSet {
                    display:flex;
                    flex-wrap:wrap;
                    justify-content:space-between;
                    button {
                        width:47%;
                        margin-right:0;
                    }
                }
            }
            .showBox {
                article {
                    .editTxt,
                    .txt {
                        width:100%;
                    }
                    .btnSet {
                        margin-top:20px;
                        .btn {
                            min-width:none;
                        }
                    }
                }
            }
        }
    }
}