.Gallery {
    .loading {
        position:absolute;
        top:0;
        left:50%;
        z-index:0;
        transform:translateX(-50%);
    }
    .info {
        position:relative;
        padding-left:240px;

        .controls {
            position:absolute;left:0;top:110px;
        nav {

            button {
                position:relative;
                display: block;
                padding-left:18px;
                margin-bottom:32px;
                font-weight: 500;
                font-size:18px;
                line-height: 22px;
                color: #101010;
                background:url(../../../public/img/ico_star.svg);
                background-repeat: no-repeat;
                background-position:0 50%;
                background-size:12px;
                transition-duration:0.1s;
                border:0;
                &::after {
                    content: "";
                    position:absolute;left:18px;right:0;bottom:0;
                    height:1px;background:#000;width:0;transition:.2s;
                }
                &:hover {
                    &::after {
                        width:84%
                    }
                }
            }
        }
        .searchBox {
            position:relative;
            width:190px;height:36px;
            padding-right:30px;
            border-bottom:1px solid #000;
            input {
                width:100%;height:100%;
                background:transparent;
                border:0;
                padding:6px 0 6px 8px;
                font-size:20px;font-family:$fontQ;
                &::placeholder {
                    font-size:20px;
                }
            }
            button {
                position:absolute;right:7px;top:8px;border:0;
                background:transparent;font-size:18px;
                color:$txtColor2;
            }
        }
        }
        .frame {
            transform: translateY(200px);opacity:0;transition:all .5s;
            &.on {
                transform:translateY(0);opacity:1;
            }
            &::after {
                content:"";display:block;clear:both;
            }
            article {
                width:25%;padding:10px;float:left;
                transition:.3s;
                .inner {
                    width:100%;
                    padding:30px 10px 20px;
                    border:2px solid #cdc4cd;
                    background:#f3e9e4;
                    box-shadow:2px 2px 5px rgba(0,0,0,.2);
                    .pic {
                        width:100%;
                        margin-bottom:10px;
                        cursor:pointer;
                        img {
                            width:100%;
                        }
                    }
                    strong {
                        display:block;
                        font-weight:400;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                        font-size:14px;
                        color:$txtColor2;margin-bottom:30px;
                    }
                    .profile {
                        display:flex;
                        align-items:center;
                        img {
                            width:40px;height:40px;border-radius:50%;
                            margin-right:10px;
                        }
                        span {
                            color:orange;cursor:pointer;
                            transition: .5s;
                            font-weight:400;
                            font-size:14px;
                            word-break:break-all;
                            &:hover {
                                color:$txtColor2;
                            }
                        }
                    }
                }
                &:hover {
                    transform:translateY(-10px);
                }
            }
        }
    }
    
}

@media screen and (max-width:$tablet) {
    .Gallery {
        .info {
            .frame {
                article {
                    width:33.3%;
                }
            }
        }
        
    }
}

@media screen and (max-width:900px) {
    .Gallery {
        .info {
            padding-left:0;
            .controls {
                position: static;
                overflow:hidden;
                nav {
                    float:left;
                    overflow:hidden;
                    margin-top:5px;
                    button {
                        float:left;
                        margin-right:20px;
                    }
                }
                .searchBox {
                    float:right;
                }
            }
            .frame {
                article {
                    width:50%;
                }
            }
        }
        
    }
}

@media screen and (max-width:$mobile) {
    .Gallery {
        .info {
            .controls {
                .searchBox {
                    float:right;
                    width:100%;
                }
            }
            .frame {
                margin-top:20px;
                article {
                    width:100%;
                    padding:20px 0 0;
                }
            }
        }
        
    }
}