.Member {
    > .inner {
        position:relative;
        padding-left:450px;
        h2 {
            position:absolute;left:0;top:0;
        }
        .desc_sub {
            position:absolute;left:0;top:80px;
        }
        .info {
            border-top:0;
        }
       
        table {
            width:100%;border:0;

            th {
                width:20%;border:0;text-align:left;
                padding-bottom:20px;
                &:last-child {
                    text-align:center; 
                }
                .btn {
                    display:inline-flex;
                    justify-content:center;
                    align-items:center;
                    margin:0 10px;
                    cursor: pointer;
                }
            }
            td {
                border:0;
                padding-bottom:20px;
                input[type='text']::placeholder {
                    font-size:16px;
                }
                input[type='text'],
                input[type='password'] {
                    width:100%;
                    height:50px;
                    padding: 15px;
                    background: transparent;
                    border:0;
                    border-bottom:1px solid #000;
                }
                select {
                    width:100%;padding:6px 10px;
                    border:0;
                    border-bottom:1px solid #000;
                    background:transparent;    
                }
                textarea {
                    width:100%;
                    border:1px solid #000;
                    background:#f3e9e4;
                    resize:none;
                }
                label {
                    margin-right:20px;
                }
                input[type='radio'],
                input[type='checkbox']{
                    margin-right:10px;
                }
                .err {
                    display:block;
                    font-family:$fontQ;
                    font-size:15px;
                    margin-top:10px;
                    color:$pointColor
                }
            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .Member {
        > .inner {
            table {
                td {
                    input[type='text'],
                    input[type='password'],
                    select,
                    textarea {
                        width:80%;
                    }
                }
            }  
        }
    }
}

@media screen and (max-width:$mobile) {
    .Member {
        > .inner {
            table {
                th {
                    display:none;
                    padding:15px 0;
                    &:last-child {
                        display:block;
                        width:100%;
                    }
                    ipnut[type='reset'],
                    inpunt[type='submit'] {
                        width:48%;margin:0;
                    }
                }
                td {
                    border-left:0;
                    border-right:0;
                    padding:15px 0;

                    input[type='text'],
                    input[type='password'],
                    select,
                    textarea {
                        width:100%;
                    }
                }
            }
        }
    }
}