.Youtube {
    .info {
        padding-top:0;
        border-top:0;
        border-bottom:1px solid #000;
        article {
            position:relative;
            border-top:1px solid #000;
            padding:30px;
            display:flex;
            justify-content:space-between;
            transition:.3s;
            h3 {
                width:20%;
                font-size:25px;
                font-weight:600;
                font-family:$fontM;
            }
            .txt {
                width:50%;padding:0 40px;display:flex;
                flex-wrap:wrap;
                justify-content:end;
                align-content:space-between;
                p {
                    font-size:18px;line-height:24px;
                }
                span {
                    font-size:16px;color:$txtColor2;
                }
            }
            .pic {
                position:relative;
                width:40%;height:200px;background:#000;
                filter: saturate(.5);
                transition: .5s;
                cursor:pointer;
                img {
                    width:100%;height:100%;object-fit:cover;
                }
                svg {
                    position:absolute;
                    right:8px;
                    bottom:8px;
                    color:#fefefe;
                    font-size:15px;
                }
                &:hover {
                    filter:saturate(1);
                }
            }
            &:hover {
                background:#f3e9e4;
            }
        }
    }
    
    
}

@media screen and (max-width:$tablet) {
    .Youtube {
        .info {
            article {
                padding:20px 10px;
                display:block;
                h3 {
                    width:100%;
                    font-size:20px;
                }
                .txt {
                    display:block;
                    width:100%;padding:15px 0 0;
                    p {
                        font-size:16px;line-height:22px;
                    }
                    span {
                        display:block;
                        margin-top:5px;
                        font-size:14px;
                    }
                }
                .pic {
                    width:100%;height:200px;margin-top:20px;
                }
                
            }
        }
    }     
}
