@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: radial-gradient(circle farthest-corner at 0 45%, #cdc4cd, #faf5f0), radial-gradient(circle farthest-corner at 0 55%, #cdc4cd, #faf5f0);
  font-family: "Quicksand", sans-serif;
  color: #101010;
}

table, th, td {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

.hidden {
  position: absolute;
  top: -100000px;
  opacity: 0;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
}

.btn {
  display: block;
  min-width: 120px;
  padding: 0 15px;
  margin-right: 16px;
  height: 33px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 33px;
  border: 1px solid #000;
  border-radius: 15px;
  color: #101010;
  text-align: center;
  transition: 0.5s;
  background: transparent;
}
.btn .txt {
  padding-left: 16px;
  background-image: url(../../../public/img/ico_star.svg);
  background-repeat: no-repeat;
  background-position: 0 49%;
  background-size: 12px;
}
.btn:hover, .btn.on {
  background: #000;
  color: #e1d4d5;
}
.btn:hover .txt, .btn.on .txt {
  background-image: url(../../../public/img/ico_star_white.svg);
}

header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  font-family: "Quicksand", sans-serif;
}
header .inner {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  padding: 32px 0 50px;
}
header .inner::after {
  content: "";
  display: block;
  clear: both;
}
header .inner h1 {
  float: left;
  width: 90px;
  height: 90px;
}
header .inner h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
header .inner h1 a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
header .inner #gnb {
  float: left;
  padding-left: 72px;
  column-count: 2;
  column-gap: 60px;
}
header .inner #gnb li a {
  display: block;
  padding-left: 18px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #101010;
  background: url(../../../public/img/ico_star.svg);
  background-repeat: no-repeat;
  background-position: 6px 50%;
  background-size: 0;
  transition-duration: 0.1s;
}
header .inner #gnb li a:hover, header .inner #gnb li a.on {
  background-position: 0 50%;
  background-size: 12px;
}
header .inner .until {
  float: right;
  column-count: 2;
  column-gap: 60px;
}
header .inner .until a {
  display: block;
  padding-left: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #101010;
  background: url(../../../public/img/ico_star.svg);
  background-repeat: no-repeat;
  background-position: 6px 50%;
  background-size: 0;
  transition-duration: 0.1s;
}
header .inner .until a:hover, header .inner .until a.on {
  background-position: 0 50%;
  background-size: 12px;
}
header .inner .until a.connect {
  font-weight: 700;
  line-height: 18px;
  background: none;
}
header .inner .until a.connect:hover, header .inner .until a.connect.on {
  color: orange;
}
header .inner .lines {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 250px;
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url(../../../public/img/ico_star.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
header .inner .lines .lines_line {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 1px;
  height: 1px;
  background-color: #101010;
}
header .inner .lines .lines_line.line1 {
  height: 160px;
}
header .inner .lines .lines_line.line2 {
  width: 910px;
}
header .inner .lines .lines_line.line3 {
  left: 20px;
  right: auto;
  width: 270px;
}

footer {
  padding: 100px 0 80px;
}
footer .inner {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  overflow: hidden;
  padding: 70px 50px 60px;
}
footer .inner .footer_cont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .inner .area_footer {
  display: flex;
  flex-direction: column;
}
footer .inner .area_footer .footer_logo {
  display: block;
  overflow: hidden;
  font-size: 30px;
  font-weight: 600;
  color: #101010;
}
footer .inner .area_footer:nth-of-type(2) {
  padding: 7px 0 0 80px;
}
footer .inner .area_footer .link_copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 65px;
}
footer .inner .area_footer .link_copyright .thumb_logo {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
footer .inner .area_footer .link_copyright .thumb_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .inner .area_footer .link_copyright .txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
footer .inner .area_footer .footer_gnb {
  column-count: 2;
  column-gap: 100px;
  margin-left: -18px;
}
footer .inner .area_footer .footer_gnb li {
  margin-bottom: 20px;
}
footer .inner .area_footer .footer_gnb li a {
  display: block;
  padding-left: 18px;
  font-weight: 500;
  color: #101010;
  background: url(../../../public/img/ico_star.svg);
  background-repeat: no-repeat;
  background-position: 6px 50%;
  background-size: 0;
  transition-duration: 0.1s;
}
footer .inner .area_footer .footer_gnb li a:hover, footer .inner .area_footer .footer_gnb li a.on {
  background-position: 0 50%;
  background-size: 12px;
}
footer .inner .area_footer .area_link {
  padding-top: 20px;
}
footer .inner .area_footer .area_link .footer_link {
  display: block;
  margin-top: 15px;
  color: rgba(16, 16, 16, 0.8);
  text-decoration: underline;
}
footer .inner .area_footer .tit_footer_sns {
  display: block;
  font-size: 22px;
}
footer .inner .area_footer .list_sns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
footer .inner .area_footer .list_sns li {
  width: 38px;
  height: 38px;
  margin-right: 16px;
}
footer .inner .area_footer .list_sns li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(16, 16, 16, 0.2);
}
footer .inner .area_footer .list_sns li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(80%);
}
footer .inner .area_footer .area_stroe {
  position: absolute;
  left: auto;
  bottom: 0;
}
footer .inner .area_footer .area_stroe strong {
  display: block;
  font-size: 14px;
  line-height: 18px;
}
footer .inner .area_footer .area_stroe a {
  font-size: 14px;
  line-height: 18px;
  color: #101010;
}
footer .inner .lines_center {
  position: absolute;
  left: 27%;
  top: 0;
  right: auto;
  bottom: auto;
  width: 40px;
  height: 40px;
  background-image: url(../../../public/img/ico_star.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
footer .inner .lines_center .line_center {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 1px;
  height: 1px;
  background-color: #101010;
}
footer .inner .lines_center .line_center.line1 {
  width: 339px;
}
footer .inner .lines_center .line_center.line2 {
  left: 20px;
  right: auto;
  width: 841px;
}
footer .inner .lines_center .line_center.line3 {
  left: 20px;
  top: 20px;
  right: auto;
  bottom: auto;
  height: 350px;
}
footer .inner .line_etc {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  background-color: #101010;
}
footer .inner .line_etc.line1 {
  top: 20px;
  height: 100%;
}
footer .inner .line_etc.line2 {
  top: auto;
  bottom: 0;
  width: 100%;
}
footer .inner .line_etc.line3 {
  left: auto;
  top: 20px;
  right: 0;
  bottom: 0;
  height: 100%;
}

.home {
  font-family: "Montserrat", sans-serif;
}

.content > .inner {
  width: 1180px;
  margin: 225px auto 0;
  position: relative;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.5s, transform 1s;
}
.content > .inner h2 {
  position: relative;
  font-weight: 300;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 10px;
}
.content > .inner .desc_sub {
  position: relative;
  margin: 15px 0 0 10px;
  padding: 0 0 50px 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.content > .inner .desc_sub::after {
  content: "";
  position: absolute;
  left: -14px;
  top: 0;
  width: 30px;
  height: 30px;
  background: url(../../../public/img/ico_star.svg) no-repeat 0 0;
  background-size: 30px auto;
}
.content.on figure {
  opacity: 1;
}
.content.on > .inner {
  opacity: 1;
  transform: translateY(0);
}
.content .info {
  min-height: 600px;
  padding-top: 100px;
  border-top: 1px solid #000;
}

.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.pop .con {
  width: 100%;
  height: 100%;
}
.pop .con iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pop .con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pop .close {
  font: bold 14px/1 "arial";
  color: orange;
  position: absolute;
  top: 40px;
  right: 5vw;
  cursor: pointer;
}

#visual {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  min-height: 856px;
  height: 95vh;
  padding: 172px 0 0;
}
#visual .inner {
  position: relative;
  height: 100%;
  padding: 120px 0;
}
#visual .inner .tit {
  position: relative;
  z-index: 1;
  margin: 0 0 56px 76px;
  font-weight: 300;
  font-size: 81px;
  line-height: 1;
  letter-spacing: -2px;
}
#visual .inner .tit .txt1 {
  display: inline-block;
}
#visual .inner .tit .txt2 {
  display: block;
  position: relative;
  left: 132px;
  font-weight: 700;
  text-transform: uppercase;
}
#visual .inner .tit .txt3 {
  display: block;
  text-transform: uppercase;
}
#visual .inner .tit .txt4 {
  display: block;
  position: relative;
  left: 300px;
  font-weight: 600;
}
#visual .inner .tit .txt4::before {
  content: "";
  display: inline-block;
  width: 62px;
  height: 62px;
  margin: 10px 16px 0 0;
  vertical-align: top;
  background: url(../../../public/img/ico_copyright.svg) no-repeat 50% 50%;
  background-size: contain;
}
#visual .inner .left {
  position: absolute;
  right: 76px;
  top: 50%;
  width: 100%;
  height: 100%;
  max-width: 296px;
  max-height: 632px;
  background: url(../../../public/img/img14.png) no-repeat 50% 0;
  background-size: cover;
  transform: translate(0, -50%);
}
#visual .inner .left .ico {
  position: absolute;
  top: 145px;
  right: -40px;
  width: 80px;
  height: 80px;
  background: url(../../../public/img/ico_star.svg) no-repeat 0 0;
  background-size: 100% auto;
}
#visual .inner .right {
  position: absolute;
  right: 415px;
  top: 50%;
  width: 100%;
  height: 100%;
  max-width: 112px;
  max-height: 520px;
  background: url(../../../public/img/img15.png) no-repeat 35% 0;
  background-size: cover;
  transform: translate(0, -50%);
}
#visual .inner .area_lecture {
  display: flex;
  align-items: center;
  position: absolute;
  left: 76px;
  bottom: 4%;
}
#visual .inner .area_lecture .lecture_img {
  position: relative;
  width: 96px;
  height: 104px;
  background: #000;
}
#visual .inner .area_lecture .lecture_img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../../public/img/lecture_triangle.svg) no-repeat 0 0;
  background-size: 100% auto;
}
#visual .inner .area_lecture .lecture_img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../../public/img/lecture_numbs.svg) no-repeat 0 0;
  background-size: 100% auto;
}
#visual .inner .area_lecture .lecture_txt {
  padding-left: 40px;
}
#visual .inner .area_lecture .lecture_txt .tit_lecture {
  display: block;
  margin-bottom: 16px;
  color: rgba(16, 16, 16, 0.8);
}
#visual .inner .area_lecture .lecture_txt .txt_lecture {
  display: block;
  font-weight: 600;
  font-size: 22px;
}

#introduce {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 85px 76px 64px;
}
#introduce .area_thumb {
  display: flex;
}
#introduce .area_thumb .thumb {
  position: relative;
  overflow: hidden;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
#introduce .area_thumb .thumb img {
  position: absolute;
  left: 50%;
  top: -40px;
  width: 250px;
  height: auto;
  transform: translate(-50%, 0);
}
#introduce .area_thumb .info_thumb {
  padding-left: 40px;
}
#introduce .area_thumb .info_thumb .name {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
}
#introduce .area_thumb .info_thumb .job {
  display: block;
  margin-top: 18px;
  color: rgba(16, 16, 16, 0.8);
}
#introduce .cont {
  width: 560px;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: rgba(16, 16, 16, 0.8);
}
#introduce .cont .txt {
  display: block;
  text-align: right;
}
#introduce .lines {
  position: absolute;
  top: 0;
  left: 405px;
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url(../../../public/img/ico_star.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#introduce .lines .lines_line {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 1px;
  height: 1px;
  background-color: #101010;
}
#introduce .lines .lines_line.line1 {
  height: 200px;
}
#introduce .lines .lines_line.line2 {
  width: 425px;
}
#introduce .lines .lines_line.line3 {
  left: 20px;
  right: auto;
  width: 755px;
}

#type {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  padding: 64px 0;
  min-height: 856px;
  height: 95vh;
}
#type .box_big {
  position: relative;
  height: 650px;
}
#type .box_big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#type .box_big .box_smail {
  position: absolute;
  right: 70px;
  bottom: -60px;
  width: 334px;
  height: 476px;
  padding: 40px 38px;
  border: 1px solid #000;
  background: #f3e9e4;
}
#type .box_big .box_smail .thumb_small {
  position: relative;
  width: 256px;
  height: 164px;
  overflow: hidden;
}
#type .box_big .box_smail .thumb_small img {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
#type .box_big .box_smail .tit {
  display: block;
  margin-top: 40px;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}
#type .box_big .box_smail .desc {
  margin-top: 16px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(16, 16, 16, 0.8);
}
#type .paging {
  display: flex;
  margin-top: 27px;
}

#vids {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  padding: 64px 0;
  min-height: 856px;
  height: 95vh;
}
#vids .lines {
  position: absolute;
  right: 224px;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(../../../public/img/ico_star.svg) no-repeat 50% 50%;
  background-size: contain;
}
#vids .lines .lines_line {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 1px;
  height: 1px;
  background-color: #101010;
}
#vids .lines .lines_line.line1 {
  width: 936px;
}
#vids .lines .lines_line.line2 {
  left: 20px;
  right: auto;
  width: 244px;
}
#vids .info_tit {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#vids .info_tit .tit {
  font-weight: 300;
  font-size: 81px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#vids .info_tit .tit .txt1 {
  display: block;
  font-weight: 700;
}
#vids .info_tit .tit .txt1 .ico {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin: 15px 17px 0 0;
  vertical-align: top;
  background: url(../../../public/img/ico_star.svg) no-repeat 50% 50%;
  background-size: contain;
}
#vids .info_tit .tit .txt2 {
  display: block;
  margin-left: 130px;
}
#vids .info_tit .tit .txt2 .inner_txt {
  font-weight: 700;
}
#vids .info_tit .desc {
  width: 350px;
  font-size: 22px;
  line-height: 34px;
  font-family: "Quicksand", sans-serif;
  color: rgba(16, 16, 16, 0.8);
}
#vids .info_tit .desc .txt {
  display: block;
  text-align: right;
}
#vids ul {
  position: relative;
  padding-top: 100px;
  display: flex;
}
#vids ul li {
  width: 100%;
  height: auto;
  margin-left: 50px;
  padding: 30px 20px 30px;
  background: #f3e9e4;
  border: 4px solid #cdc4cd;
  transition: 0.5s;
}
#vids ul li .pic {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin: 0 auto 20px;
  cursor: pointer;
  border: 1px solid #cdc4cd;
}
#vids ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#vids ul li strong {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  font-family: "Quicksand", sans-serif;
  color: #101010;
}
#vids ul li strong .num {
  display: block;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
#vids ul li:hover {
  transform: translateY(-30px);
}

#story {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  min-height: 856px;
}
#story .lines {
  position: absolute;
  left: 320px;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(../../../public/img/ico_star.svg) no-repeat 50% 50%;
  background-size: contain;
}
#story .lines .lines_line {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 1px;
  height: 1px;
  background-color: #101010;
}
#story .lines .lines_line.line1 {
  width: 936px;
}
#story .lines .lines_line.line2 {
  left: 20px;
  right: auto;
  width: 840px;
}
#story .line3 {
  width: 100%;
  height: 1px;
  padding: 0;
  background-color: #101010;
}
#story .tit {
  font-weight: 700;
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
  text-align: right;
  padding: 70px 5px 40px 0;
}
#story .info_story {
  display: flex;
  padding: 80px 0 40px;
  align-items: center;
}
#story .info_story .community {
  position: relative;
  width: 1200px;
}
#story .info_story .community article {
  padding: 20px;
  transform: translateX(-100px) rotateY(180deg);
  opacity: 0;
  transition: 0.5s;
}
#story .info_story .community article:nth-of-type(1) {
  transition-delay: 0.1s;
}
#story .info_story .community article:nth-of-type(2) {
  transition-delay: 0.2s;
}
#story .info_story .community article:nth-of-type(3) {
  transition-delay: 0.3s;
}
#story .info_story .community article:nth-of-type(4) {
  transition-delay: 0.4s;
}
#story .info_story .community article:nth-of-type(5) {
  transition-delay: 0.5s;
}
#story .info_story .community article strong {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}
#story .info_story .community article p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Quicksand", sans-serif;
}
#story .info_story .pics {
  width: 100%;
}
#story .info_story .pics .list_pics {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#story .info_story .pics .list_pics li {
  box-shadow: 5px 10px 10px rgb(205, 196, 205);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
#story .info_story .pics .list_pics li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#story .info_story .pics .list_pics li:hover {
  transform: rotate(10deg);
}
#story .info_story .pics .list_pics li:nth-of-type(2), #story .info_story .pics .list_pics li:nth-of-type(5) {
  transform: rotate(10deg);
}
#story .info_story .pics .list_pics li:nth-of-type(2):hover, #story .info_story .pics .list_pics li:nth-of-type(5):hover {
  transform: rotate(0deg);
}
#story .info_story .pics .list_pics li:nth-of-type(3), #story .info_story .pics .list_pics li:nth-of-type(7) {
  transform: rotate(-10deg);
}
#story .info_story .pics .list_pics li:nth-of-type(3):hover, #story .info_story .pics .list_pics li:nth-of-type(7):hover {
  transform: rotate(0deg);
}
#story.on .community article {
  opacity: 1;
  transform: translateX(0) rotateY(0);
}

.scroll_navi {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  z-index: 5;
}
.scroll_navi li {
  width: 10px;
  height: 10px;
  border: 1px solid #101010;
  border-radius: 10px;
  background: #fff;
  margin: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.scroll_navi li.on {
  height: 50px;
  background: #111;
  border: #fff;
}

.Community > .inner .inputBox {
  width: 50%;
}
.Community > .inner .inputBox strong {
  display: block;
  font-size: 30px;
  line-height: 25px;
}
.Community > .inner .inputBox input[type=text] {
  width: 100%;
  padding: 15px;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #000;
  background: transparent;
  margin: 10px 0 50px 0;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  line-height: 24px;
}
.Community > .inner .inputBox textarea {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: #f3e9e4;
  border: 1px solid #000;
  margin-bottom: 20px;
  height: 180px;
  resize: none;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  line-height: 24px;
}
.Community > .inner .inputBox .btnSet {
  display: flex;
}
.Community > .inner .inputBox .btnSet .btn {
  background: #000;
  color: #e1d4d5;
}
.Community > .inner .inputBox .btnSet .btn .txt {
  background-image: url(../../../public/img/ico_star_white.svg);
}
.Community > .inner .showBox {
  width: 100%;
  margin-top: 120px;
}
.Community > .inner .showBox article {
  position: relative;
  padding: 40px 40px 40px 150px;
  border-top: 1px solid #000;
  transition: 0.3s;
}
.Community > .inner .showBox article em {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}
.Community > .inner .showBox article .txt strong {
  display: block;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  line-height: 40px;
}
.Community > .inner .showBox article .txt p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
}
.Community > .inner .showBox article .editTxt input[type=text],
.Community > .inner .showBox article .editTxt textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
  background: #f3e9e4;
  resize: none;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  line-height: 24px;
}
.Community > .inner .showBox article .btnSet {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  align-items: center;
}
.Community > .inner .showBox article .btnSet .btn {
  min-width: auto;
}
.Community > .inner .showBox article:hover {
  background: #f3e9e4;
}
.Community > .inner .showBox article::before {
  content: "";
  position: absolute;
  left: 100px;
  top: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../../../public/img/ico_star.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1179px) {
  .Community > .inner .inputBox input[type=text],
.Community > .inner .inputBox textarea {
    width: 100%;
  }
  .Community > .inner .inputBox .btnSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Community > .inner .inputBox .btnSet button {
    width: 47%;
    margin-right: 0;
  }
  .Community > .inner .showBox article .editTxt,
.Community > .inner .showBox article .txt {
    width: 100%;
  }
  .Community > .inner .showBox article .btnSet {
    margin-top: 20px;
  }
  .Community > .inner .showBox article .btnSet .btn {
    min-width: none;
  }
}
.Department .bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 600px;
}
.Department .bg [class^=bg] {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.Department .bg .bg1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 250px;
  background-image: url(../../../public/img/img1.png);
  transform: rotate(-10deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.Department .bg .bg2 {
  position: absolute;
  left: 200px;
  top: 0;
  width: 250px;
  height: 300px;
  background-image: url(../../../public/img/img2.png);
  transform: rotate(20deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.Department .info .intro_department {
  padding-bottom: 150px;
}
.Department .info .intro_department .thumb_intro {
  position: relative;
  float: left;
  width: 250px;
  height: 300px;
}
.Department .info .intro_department .thumb_intro img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Department .info .intro_department .thumb_intro::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -20px;
  bottom: -20px;
  width: 200px;
  height: 90%;
  background: #e6904e;
}
.Department .info .intro_department .cont_intro {
  overflow: hidden;
  padding: 160px 0 0 50px;
}
.Department .info .intro_department .cont_intro .desc_intro {
  font-size: 16px;
  line-height: 24px;
}
.Department .info .intro_department .cont_intro .desc_intro strong {
  display: block;
  margin: 10px 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}
.Department .info .cont_department h3 {
  font-weight: 300;
  font-size: 70px;
}
.Department .info .cont_department ul {
  margin-top: 20px;
  font-size: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top: 1px;
}
.Department .info .cont_department ul li {
  width: 25%;
  overflow: hidden;
  height: 278px;
  font-size: 16px;
  border: 1px solid #000;
  margin: -1px 0 0 -1px;
}
.Department .info .cont_department ul li .cont_text {
  padding: 40px 20px 0;
  height: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
.Department .info .cont_department ul li .cont_text strong {
  display: block;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 30px;
  line-height: 20px;
  color: #e6904e;
}
.Department .info .cont_department ul li .cont_img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.Department .info .cont_department ul li .cont_img .thumb {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
}
.Department .info .cont_department ul li .cont_img .thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.Department .info .cont_department ul li .cont_img:hover {
  transform: scale(1.15);
}

.Gallery .loading {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
}
.Gallery .info {
  position: relative;
  padding-left: 240px;
}
.Gallery .info .controls {
  position: absolute;
  left: 0;
  top: 110px;
}
.Gallery .info .controls nav button {
  position: relative;
  display: block;
  padding-left: 18px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  background: url(../../../public/img/ico_star.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 12px;
  transition-duration: 0.1s;
  border: 0;
}
.Gallery .info .controls nav button::after {
  content: "";
  position: absolute;
  left: 18px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #000;
  width: 0;
  transition: 0.2s;
}
.Gallery .info .controls nav button:hover::after {
  width: 84%;
}
.Gallery .info .controls .searchBox {
  position: relative;
  width: 190px;
  height: 36px;
  padding-right: 20px;
  border-bottom: 1px solid #000;
}
.Gallery .info .controls .searchBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 6px 8px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
.Gallery .info .controls .searchBox input::placeholder {
  font-size: 20px;
}
.Gallery .info .controls .searchBox button {
  position: absolute;
  right: 0;
  top: 7px;
  width: 20px;
  height: 20px;
  border: 0;
  background: #555;
}
.Gallery .info .frame {
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.5s;
}
.Gallery .info .frame.on {
  transform: translateY(0);
  opacity: 1;
}
.Gallery .info .frame::after {
  content: "";
  display: block;
  clear: both;
}
.Gallery .info .frame article {
  width: 25%;
  padding: 10px;
  float: left;
  transition: 0.3s;
}
.Gallery .info .frame article .inner {
  width: 100%;
  padding: 30px 10px 20px;
  border: 2px solid #cdc4cd;
  background: #f3e9e4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.Gallery .info .frame article .inner .pic {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.Gallery .info .frame article .inner .pic img {
  width: 100%;
}
.Gallery .info .frame article .inner strong {
  display: block;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: rgba(16, 16, 16, 0.8);
  margin-bottom: 30px;
}
.Gallery .info .frame article .inner .profile {
  display: flex;
  align-items: center;
}
.Gallery .info .frame article .inner .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.Gallery .info .frame article .inner .profile span {
  color: orange;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 14px;
  word-break: break-all;
}
.Gallery .info .frame article .inner .profile span:hover {
  color: rgba(16, 16, 16, 0.8);
}
.Gallery .info .frame article:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 1179px) {
  .Gallery .frame article {
    width: 33.3%;
  }
}
@media screen and (max-width: 539px) {
  .Gallery .frame article {
    width: 50%;
  }
}
.Location #map {
  width: 100%;
  height: 500px;
  background: #000;
}
.Location .btnSet {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}
.Location .btnSet button {
  cursor: pointer;
  height: 30px;
  border: 1px solid #888;
  padding: 5px 20px;
}
.Location .btnSet ul {
  display: flex;
}
.Location .btnSet ul li {
  border: 1px solid #888;
  height: 30px;
  padding: 0 20px;
  line-height: 30px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s;
}
.Location .btnSet ul li.on {
  background: #333;
  border: 1px solid #333;
  color: #fff;
}

.Member > .inner table {
  width: 100%;
  border: 0;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}
.Member > .inner table th {
  width: 20%;
  border: 0;
  border-bottom: 1px solid #bbb;
  padding: 15px 30px;
  text-align: left;
}
.Member > .inner table th:last-child {
  text-align: center;
}
.Member > .inner table th input[type=reset],
.Member > .inner table th input[type=submit] {
  border: 1px solid #aaa;
  width: 150px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.Member > .inner table td {
  border: 0;
  border: 1px solid #bbb;
  border-left: 1px solid #bbb;
  padding: 15px 30px;
}
.Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
  width: 40%;
  border: 1px solid #aaa;
  padding: 6px 10px;
  resize: none;
}
.Member > .inner table td label {
  margin-right: 6px;
}
.Member > .inner table td input[type=radio],
.Member > .inner table td input[type=checkbox] {
  margin-right: 20px;
}
.Member > .inner table td .err {
  display: block;
  font: 12px/1 "arial";
  color: hotpink;
  margin-top: 10px;
}

@media screen and (max-width: 1179px) {
  .Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
    width: 80%;
  }
}
@media screen and (max-width: 539px) {
  .Member > .inner table th {
    display: none;
    padding: 15px 0;
  }
  .Member > .inner table th:last-child {
    display: block;
    width: 100%;
  }
  .Member > .inner table th ipnut[type=reset],
.Member > .inner table th inpunt[type=submit] {
    width: 48%;
    margin: 0;
  }
  .Member > .inner table td {
    border-left: 0;
    border-right: 0;
    padding: 15px 0;
  }
  .Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
    width: 100%;
  }
}
.Youtube .info {
  padding-top: 0;
  border-top: 0;
}
.Youtube .info article {
  position: relative;
  border-top: 1px solid #000;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.Youtube .info article h3 {
  width: 20%;
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.Youtube .info article .txt {
  width: 50%;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: space-between;
}
.Youtube .info article .txt p {
  font-size: 18px;
  line-height: 24px;
}
.Youtube .info article .txt span {
  font-size: 16px;
  color: rgba(16, 16, 16, 0.8);
}
.Youtube .info article .pic {
  width: 40%;
  height: 200px;
  background: #000;
  filter: saturate(0.5);
  transition: 0.5s;
  cursor: pointer;
}
.Youtube .info article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Youtube .info article .pic:hover {
  filter: saturate(1);
}
.Youtube .info article:hover {
  background: #f3e9e4;
}
.Youtube .info article::before {
  content: "";
  position: absolute;
  left: 20%;
  top: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../../../public/img/ico_star.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1179px) {
  .Youtube article h3 {
    width: 48%;
  }
  .Youtube article .txt {
    width: 50%;
  }
  .Youtube article .pic {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 539px) {
  .Youtube article {
    width: 100%;
    margin-bottom: 20px;
  }
  .Youtube article .txt {
    width: 100%;
  }
  .Youtube article .txt {
    width: 100%;
  }
  .Youtube article .pic {
    height: 120px;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
