@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$tablet : 1179px;
$mobile : 539px;
$txtColor : #101010;
$txtColor2 : rgba(16,16,16,.8);
$pointColor : #e6904e;
$fontQ : 'Quicksand', sans-serif;
$fontM : 'Montserrat', sans-serif;

//common
@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';
@import 'common/popup';

//main
@import 'main/news';
@import 'main/pics';
@import 'main/vids';
@import 'main/visual';
@import 'main/introduce';
@import 'main/btns';

//sub
@import 'sub/community';
@import 'sub/department';
@import 'sub/gallery';
@import 'sub/location';
@import 'sub/member';
@import 'sub/youtube';


